body{
	min-height: 100vh;
	display: flex;
	justify-content: center;
	align-items: center;
}
.btn{
	padding: 0.5rem 0.5rem;
	font-size: 1rem;
	text-transform: uppercase;
	border: 3px solid #fefefe;
	border-radius: 7px;
	color: #fefefe;
	background: rgba(0,0,0,.6);
	cursor: pointer;
	outline: none;
}
.btn:hover{
	background: rgb(0,0,0);
}